/* General container styles */
.watchlistContainer {
  position: absolute;
  top: 50%;
  right:5%;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: auto;
  height: 500px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #ffffff;
  z-index: 1000;
}

.display-hidden {
  display: none;
}

/* Stock item styles */
.stockItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s, transform 0.2s;
}

.stockItem img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.stockItem p {
  font-weight: 500;
  color: #333;
  margin: 0;
  font-size: 16px;
}

.stockItem:hover {
  background-color: #e9ecef;
  transform: translateY(-2px);
}

/* Logo button styles */
#logoW {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

/* Dropdown selector styles */
#watchlistSelector {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

#watchlistSelector:focus {
  border-color: #007bff;
  outline: none;
}

/* Button styles */
#createWatchlist,
.widgetButton > button {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

#createWatchlist {
  background-color: #007bff;
}

.widgetButton > button {
  padding: 10px;
  font-size: 14px;
}

#createWatchlist:hover {
  background-color: #0056b3;
}

.add-button {
  background-color: #28a745;
}

.add-button:hover {
  background-color: #218838;
}

.remove-button {
  background-color: #F7525F;
}

.remove-button:hover {
  background-color: #d9233a;
}

/* Button icon styles */
.button-icon {
  display: inline-block;
}

.button-icon svg {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

/* Technical and fundamental buttons */
.technical-button,
.fundamental-button {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.technical-button {
  background-color: #4a90e2; /* Blue */
}

.fundamental-button {
  background-color: #28a745; /* Green */
}

.technical-button:hover {
  background-color: #357abd;
}

.fundamental-button:hover {
  background-color: #218838;
}

/* Stock item button container */
.stockItem .button-w6lVe_oI {
  display: flex;
  gap: 5px;
}

/* Title styling */
.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

/* Button container styling */
.button-container {
  display: flex;
  gap: 5px;
}

.widgetButton {
  display: flex;
  gap: 5px;
}

#stocksContainer {
  margin-top: 10px;
}
